
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<title>MoviesApp</title>
</head>
<body>
	<header>
		<h1> Movies App - Rate your movies!</h1>
		<nav>
			<a href="/">Home</a>
			<a href="/Movies">Movies</a>
		</nav>
	</header>
	<section>
		<hr />
		<%- body %>
		<hr />
	</section>
	<footer>
		<p> Pablo del Hoyo Rodríguez </p>
	</footer>
</body>
</html>