<h2>Movie</h2>
<p>
<b><%= movie.title %></b>
<br />
by
<em>El autor</em>
</p>

<p><%- escapeText(movie.description) %></p>
<a href="/movies/<%= movie.id %>/edit"> Edit </a>
<a href="/movies"> Back </a>